<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuzang.springbootmybatismultipledatasource.mapper.postgre.TeacherMapper">
    <select id="getTeachers" resultType="com.xuzang.springbootmybatismultipledatasource.model.Teacher">
        select * from teacher
    </select>
</mapper>